@import '../../styles/colors.module.css';
@import '../../styles/breakpoints.module.css';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(97, 97, 97, 0.6);
  z-index: 3;
}

.modalWindow {
  width: var(--mobile);
  margin: 100px 20px auto;
  border-radius: 16px;
  background-color: #ffffff;
  padding: 16px 20px 60px;
  box-shadow: 3px 8px 14px 0px #88c6fd30;
}

.icon {
  margin-left: 244px;
  font-size: 24px;
  color: var(--blue-color);
}

.title {
  font-family: Manrope;
  font-size: 24px;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: 0.04em;
  text-align: center;
  margin: 24px 0 0;
}

.text {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-align: center;
  margin: 20px 0 40px;
}

.authContainer {
  display: flex;
  justify-content: center;
}

/* Media query for screens with width up to 320px*/
@media (max-width: 319px) {
  .modalWindow {
    width: 90%;
  }
  .icon {
    margin-left: 85%;
  }
}

/* Media query for screens with width more than 768px */
@media (min-width: 768px) {
  .modalWindow {
    width: 608px;
    margin: 200px 80px auto;
    padding: 24px;
  }

  .icon {
    margin-left: 560px;
  }

  .title {
    font-size: 36px;
    line-height: 49px;
    margin: 44px 0 0;
  }

  .text {
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-align: center;
    margin: 40px 0;
  }
}
