.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(97, 97, 97, 0.6);
  z-index: 999;
}

.modalWindow {
  position: relative;
  width: 280px;
  border-radius: 16px;
  background-color: var(--primary-white-color);
  padding: 113px 20px 60px 20px;
  box-shadow: 3px 8px 14px 0px #88c6fd30;
}

.closeModalButton {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--blue-color);
  background-color: transparent;
  border-radius: 50%;
  border: none;
  cursor: url('../../images/pawCursor.svg') auto;
  transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.closeModalButton:hover,
.closeModalButton:focus {
  background-color: var(--blue-color);
  color: var(--primary-white-color);
}

.icon {
  width: 24px;
  height: 24px;
}

.title {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Manrope;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.38;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--black-color);
}

.text {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: 0.04em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
  color: var(--black-color);
}

.authContainer {
  display: flex;
  justify-content: center;
}

/* Media query for screens with width up to 320px*/
@media (max-width: 319px) {
  .modalWindow {
    width: 90%;
  }
  .icon {
    margin-left: 85%;
  }
}

/* Media query for screens with width more than 768px */
@media (min-width: 768px) {
  .modalWindow {
    width: 608px;
    padding: 60px 40px;
  }

  .closeModalButton {
    top: 24px;
    right: 24px;
  }

  .title {
    margin-bottom: 40px;
    font-size: 36px;
    line-height: normal;
    letter-spacing: 1.44px;
    line-height: 1.36;
  }

  .text {
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: 0.04em;
    text-align: center;
    margin-bottom: 40px;
  }
}
