@import '../../styles/colors.module.css';

.background {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--background-color);
  background-image: url(../../images/bgMob.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    & {
      background-image: url(../../images/bgMob@2x.png);
    }
  }

  @media screen and (min-width: 768px) {
    background-image: url(../../images/bgTab.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: url(../../images/bgTab@2x.png);
      }
    }

    @media screen and (min-width: 1280px) {
      background-image: url(../../images/bgDesc.png);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        & {
          background-image: url(../../images/bgDesc@2x.png);
        }
      }
    }
  }
}
