:root {
  --yellow-color: #ffc107;
  --background-color: #fdf7f2;
  --black-color: #111111;
  --blue-color: #54adff;
  --blue-light-color: #cce4fb;
  --green-color: #00c3ad;
  --red-color: #f43f5e;
  --primary-white-color: #ffffff;
  --input-text-color: #888888;

  --input-shadow: 3px 8px 14px 0px rgba(136, 198, 253, 0.19);
  --image-shadow: 7px 13px 14px 0 rgba(116, 177, 232, 0.24);
  --backDrop: rgba(97, 97, 97, 0.6);
  --background-button-image: linear-gradient(315deg, #419ef1 0%, #9bd0ff 100%);
}
