
:root {
    --yellow-color: #FFC107;
    --backgorund-color: #FDF7F2;
    --black-color: #111111;
    --blue-color: #54ADFF;
    --blue-light-color: #CCE4FB;
    --green-color: #00C3AD;
    --red-color: #F43F5E;
  }
  