:root {
  --yellow-color: #ffc107;
  --background-color: #fdf7f2;
  --black-color: #111111;
  --blue-color: #54adff;
  --blue-light-color: #cce4fb;
  --green-color: #00c3ad;
  --red-color: #f43f5e;
}
