/* .mainPage {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: 60px;
  background-color: var(--background-color);
  background-image: url(../../images/bgMob.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    & {
      background-image: url(../../images/bgMob@2x.png);
    }
  }

  @media screen and (min-width: 768px) {
    padding-top: 80px;
    padding-left: 32px;
    background-image: url(../../images/bgTab.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: url(../../images/bgTab@2x.png);
      }
    }

    @media screen and (min-width: 1280px) {
      padding-left: 16px;
      padding-top: 188px;
      background-image: url(../../images/bgDesc.png);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        & {
          background-image: url(../../images/bgDesc@2x.png);
        }
      }
    }
  }
} */

.mainPetsPicture {
  height: 394px;
  width: 320px;

  @media screen and (min-width: 768px) {
    width: 768px;
    height: 818px;
  }

  @media screen and (min-width: 1280px) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    width: 917px;
    height: 670px;
  }
}

.mainPageTittleMob {
  padding-top: 60px;
  margin: 0 20px 0 0;
  font-family: Manrope;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.38;
  color: var(--black-color);

  @media screen and (min-width: 768px) {
    padding-top: 80px;
    margin: 0 0 0 32px;
    font-size: 68px;
    line-height: 1.47;
    text-align: left;
    width: 588px;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.mainPageTittleDesc {
  padding-top: 188px;
  margin: 0 0 0 16px;

  text-align: left;
  font-family: Manrope;
  font-size: 68px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.3;
  color: var(--black-color);

  @media screen and (max-width: 1279px) {
    display: none;
  }
}
