@import '../../styles/colors.module.css';

.login_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 180px;
}

.login_title {
  margin-top: 60px;
  margin-bottom: 40px;
  font-family: Manrope;
  font-size: 36px;
  font-weight: 500;
}

.login_form {
  width: 608px;
  height: 481px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-white-color);
  box-shadow: var(--input-shadow);
}

.input {
  width: 440px;
  height: 46px;
  border: 1px solid var(--blue-color);
  border-radius: 40px;
  margin-bottom: 32px;
  padding-left: 16px;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  outline: none;
}

.input.errorInput {
  border-color: var(--red-color); 
}

.successInput {
  border-color: var( --green-color);
}
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}


.button {
  width: 456px;
  height: 46px;
  border: 1px solid var(--blue-color);
  background-color: var(--blue-color);
  color: #fff;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  margin-top: 8px;
  margin-bottom: 16px;
  font-family: Manrope;
  font-size: 20px;
  font-weight: 500;
  transition: transform 0.3s ease;
}
.button:hover {
  animation: pulse 1s infinite
}

.refTitleToReg {
  font-family: Manrope;
  font-size: 12px;
  font-weight: 200;
  color: #888888;
  margin-bottom: 60px;
}

.refLogin {
  font-family: Manrope;
  font-size: 12px;
  font-weight: 200;
  margin-bottom: 40px;
  color: var(--blue-color);
}

p {
  margin: 0;
  padding: 0;
}

.inputContainer {
  position: relative;
}

.error {
  color: var(--red-color);
  font-family: Manrope;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  bottom: 16px;
  left: 16px;
}

.imageEye {
position: absolute;
top: 31%;
right: 15px;
transform: translateY(-50%);
cursor: pointer;
}
.imageCheck {
  height: 24px;
  position: absolute;
top: 32%;
right: 15px;
transform: translateY(-50%);
cursor: pointer;
}

.imageCross {
    position: absolute;
top: 32%;
right: 15px;
transform: translateY(-50%);
cursor: pointer;
}


@media (max-width: 767px) {
  .login_form {
    width: 280px;
    height: 425px;
    border-radius: 20px;
  }
  .input {
    width: 240px;
    margin-bottom: 14px;
  }
  .button {
    margin-top: 86px;
    margin-bottom: 8px;
    width: 256px;
    height: 48px;
  }
  .error {
    bottom: 0px;
  }
  .login_title  {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .refTitleToReg {
    margin-bottom: 40px;
  }
  .imageEye {
    top: 39%;
  }
  .imageCross{
    top: 39%;
  }
  .imageCheck {
    top: 39%;
  }
}