@import '../../styles/colors.module.css';

.navigation {
    display:flex;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 500;
    padding: 0;
    margin-left: 160px;
    justify-content: center;
}


ul {
    list-style: none;
  }
  
  .navigation_link {
    margin-right: 40px; 
  }
  
  .navigation_link:last-child {
    margin-right: 0;
  }
  
  .navigation_link:hover {
    transform: scale(1.03); 
  }

  ul li a {
    text-decoration: none;
    color: var(--black-color);
  }

  .activeLink {
    color: var(--yellow-color);
  }

  @media (max-width: 1279px) {
    .navigation {
      display: flex;
      flex-direction: column;
      font-size: 20px;
      font-weight: 500;
      margin-left: 0px;
margin-top: 92px;
    }
    .navigation_link {
      display: flex;
      justify-content: center;
      margin-right: 0px;
      margin-bottom: 60px; 
      font-family: Manrope;
      font-size: 48px;
      font-weight: 500;
    }
    .navigation_link:last-child {
      margin-bottom: 0;
    }
  }
  @media (max-width: 767px) {
    .navigation {
      margin-top: 84px;
      margin-bottom: 159px;
    }
    .navigation_link {
      font-size: 32px;
      margin-bottom: 20px;
    }
    .navigation_link:last-child {
      margin-bottom: 0px;
    }
  }