@import '../../styles/colors.module.css';
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.UserNavContainer {
  display: flex;
}

.buttonLogout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 40px;
  color: var(--background-color);
  background-color: var(--blue-color);
  border-radius: 40px;
  border-color: transparent;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  margin-right: 20px;
  padding: 0;
  transition: transform 0.3s ease;
  cursor: url('../../../src/images/pawCursor.svg'), auto;
}

@media (max-width: 1279px) {
  .buttonLogout {
    margin-left: 30px;
  }
}

.buttonLogout:hover {
  animation: pulse 1s infinite;
}

.buttonProf {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0;
  color: var(--yellow-color);
  background-color: var(--white-color);
  border-radius: 40px;
  border-color: transparent;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 700;
  cursor: url('../../../src/images/pawCursor.svg'), auto;
  transition: transform 0.3s ease;
}
.buttonProf:hover {
  animation: pulse 1s infinite;
}

.imageLogout {
  margin-left: 8px;
}
.imageProf {
  padding: 8px 12px 8px 16px;
}

.link {
  text-decoration: none;
  cursor: url('../../../src/images/pawCursor.svg'), auto;
}

@media (max-width: 767px) {
  .buttonProf {
    width: auto;
    padding: 0;
    font-weight: 500;
  }
  .imageProf {
    padding: 0px;
    margin-right: 8px;
  }
  .profile_name {
    padding: 0px;
  }
  .buttonLogout {
    margin-right: 150px;
  }
}
