.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--mobile);
  margin: 40px auto;
  gap: 40px;
}

.title {
  align-self: start;
  margin-top: 0;
  margin-bottom: 18px;
  font-family: Manrope;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.36;
  color: var(--black-color);
}

.userDataContainer {
  position: relative;
  box-sizing: border-box;
}

.informationEditUserBtn {
  position: absolute;
  top: 60px;
  right: 14px;
  border: 0;
  background: transparent;
}

.informationEditUserBtn:focus,
.informationEditUserBtn:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.iconEdit {
  color: var(--blue-color);
}
/* User's pets*/
.userPetsContainer {
  display: block;
  width: 100%;
}
.userPetsInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}
.userPetsTitle {
  font-family: Manrope;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.36;
  color: var(--black-color);
  margin: 0;
}

/* Quality screen 768px */
@media (min-width: 768px) {
  .container {
    width: var(--tablet);
    margin: 60px auto;
    gap: 28px;
  }

  .title {
    font-size: 28px;
    margin-bottom: 24px;
  }

  .informationEditUserBtn {
    top: 76px;
    right: 18px;
  }
  .userPetsTitle {
    font-size: 28px;
    margin-bottom: 24px;
  }
  .userPetsContainer {
    max-width: 703px;
  }
  .userPetsInfo {
    align-items: normal;
    margin-bottom: 0;
  }
}

/* Quality screen 1280px */
@media (min-width: 1280px) {
  .container {
    width: var(--desktop);
    flex-direction: row;
    align-items: start;
  }

  .title {
    margin-top: 0px;
  }

  .userDataContainer {
    width: 395px;
  }

  .userPetsContainer {
    max-width: 821px;
  }
  .userPetsInfo {
    align-items: normal;
  }
}
