@import '../../../styles/colors.module.css';
@import '../../../styles/breakpoints.module.css';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;700&display=swap');
/* @import-normalize; */
@media screen and (min-width: 280px) {
  .detalesDiv {
    margin-top: 16px;
    height: 256px;
    margin-bottom: 35px;
  }
  .detalesDiv2 {
    margin-top: 16px;
    height: 256px;
    margin-bottom: 75px;
  }
  .inputWrap {
    position: relative;
    color: var(--unnamed, #111);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }
  .input {
    color: var(--c, #888);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    letter-spacing: 0.56px;
    padding: 8px 16px;
    border-radius: 40px;
    border: 1px solid #54adff;
    margin-top: 4px;
    /* ::-webkit-calendar-picker-indicator  */
  }
  input[type='date']::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
  }
  .errorInput {
    border-color: #f43f5e;
  }
  .errorDiv {
    position: absolute;
    color: #f43f5e;
    bottom: 3px;
    left: 10px;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
@media screen and (min-width: 768px) {
  .detalesDiv {
    margin-top: 16px;
    height: 256px;
    margin-bottom: 35px;
  }
  .detalesDiv2 {
    margin-top: 16px;
    height: 256px;
    margin-bottom: 75px;
  }
  .inputWrap {
    position: relative;
    color: var(--unnamed, #111);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }
  .input {
    color: var(--c, #888);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    letter-spacing: 0.56px;
    padding: 8px 16px;
    border-radius: 40px;
    border: 1px solid #54adff;
    margin-top: 4px;
    /* ::-webkit-calendar-picker-indicator  */
  }
  [type='date']::-webkit-calendar-picker-indicator {
    position: absolute;
    bottom: 5px;
    left: 20px;
    color: var(--red, #f43f5e);
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .errorInput {
    border-color: #f43f5e;
  }
}
