.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1248px;
  height: 48px;
  margin: 20px auto;
  /* background-color: var(--background-color); */
}

.logoNav {
  display: flex;
  align-items: center;
}