@import '../../styles/colors.module.css';

.AuthNavContainer {
    display: flex;
}

@media  (max-width: 767px) {
  .AuthNavContainer {
    display: flex;
    flex-direction: column;
  }
}

.link {
  text-decoration: none; 
}


@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}


.buttonLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 165px;
    height: 40px;
    color: var(--background-color);
    background-color: var(--yellow-color);
    border-radius: 40px;
    border-color: transparent;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    margin-right: 20px;
    text-decoration: none;
    transition: transform 0.3s ease;
}
.buttonLogin:hover {      
    animation: pulse 1s infinite
  }
  
.buttonReg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 40px;
    color: var(--yellow-color);
    background-color: var(--background-color);
    border-radius: 40px;
    border: 1px solid var(--yellow-color);
    font-family: Manrope;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.3s ease;
}


.buttonReg:hover {
  animation: pulse 1s infinite
  }

.imageLogin {
    margin-left: 8px;
}


@media (max-width: 767px) {
  .buttonLogin {
    margin: 0px;
    margin-bottom: 12px;
  }
  .buttonReg {
    width: 165px;
  }
}