@import "../../styles/colors.module.css";

.BurgerMenuContainer {
  position: relative;
}

.BurgerMenu {
  margin-left: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.MenuContainer {
  position: fixed;
  background-color: var(--background-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  z-index: 25; 
  width: 100%;
  height: 100%;
  top: 75px;
  left: -150px;
  animation: slideIn 0.5s forwards;
  padding-top: 14px;
}

@keyframes slideIn {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

@media (max-width: 767px) {
  .BurgerMenu {
    margin-left: 0px; 
  }
  .MenuContainer div {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 1279) {
  .BurgerMenu {
    margin-left: 22px;
  }
}