.list {
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
  
    @media screen and (min-width: 480px) {
      display: grid;
      justify-items: center;
      align-items: stretch;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      margin-top: 30px;
    }
  
    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(auto-fillt, minmax(336px, 1fr));
      column-gap: 32px;
      row-gap: 46px;
      margin-top: 40px;
    }
  
    @media screen and (min-width: 1280px) {
      grid-template-columns: repeat(auto-fill, minmax(395px, 1fr));
      column-gap: 31px;
      margin-top: 60px;
    }
  }
  
  .item {
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
    color: #111111;
  
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .item:not(:last-child) {
    margin-bottom: 24px;
  
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }
  
  .item::after {
    background: linear-gradient(290.46deg, #419ef1 0%, #9bd0ff 107.89%);
    border-radius: 40px;
    margin-bottom: 12px;
  
    content: '';
    position: absolute;
    top: -22px;
    left: 0;
    width: 100%;
    height: 8px;
  
    @media screen and (min-width: 768px) {
      margin-bottom: 14px;
    }
  }
  
  .imageContainer {
    align-self: flex-start;
    width: 100%;
    height: 252px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 16px;
  }
  
  .image {
    // align-self: flex-start;
    width: 100%;
    height: 100%;
    object-fit: cover;
  
    // border-radius: 20px;
    //   margin-bottom: 16px;
  }
  
  .itemContainer {
    padding: 0 12px 12px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // height: 100%;
  }
  
  .title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 16px;
  }
  
  .text {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 40px;
  }
  
  .itemWrapper {
    margin-bottom: 12px;
    margin-top: auto;
    padding: 12px;
    display: flex;
    justify-content: space-between;
  }
  
  .date {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #888888;
  }
  
  .link {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #54adff;
  }
  
  .form {
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .formContainer {
    flex-grow: 1;
    position: relative;
  }
  
  .input {
    width: 100%;
    height: 44px;
    padding-left: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  
    color: #888888;
    background: #ffffff;
    outline: none;
    border-radius: 20px;
    border: transparent;
    box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
  
    @media screen and (min-width: 480px) {
      width: 380px;
    }
  
    @media screen and (min-width: 768px) {
      width: 608px;
      font-size: 20px;
      line-height: 24px;
    }
  }
  
  .btnSearch,
  .btnClear {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 15px;
    bottom: 9px;
  
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
  
    background-color: transparent;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      right 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    @media screen and (min-width: 480px) {
      right: 40px;
    }
  
    @media screen and (min-width: 768px) {
      right: 70px;
    }
  
    @media screen and (min-width: 1280px) {
      right: 330px;
    }
  }
  
  .btnSearch {
    color: #54adff;
    z-index: 2;
  }
  
  .btnSearch:hover,
  .btnSearch:focus {
    color: #145ea3;
  }
  
  .btnClear {
    color: #ffc107;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .btnClear:hover,
  .btnClear:focus {
    color: #a58011;
  }
  
  .input:not(:placeholder-shown) + .btnSearch + .btnClear {
    opacity: 1;
  }
  
  .input:not(:placeholder-shown) + .btnSearch {
    right: 40px;
  
    @media screen and (min-width: 480px) {
      right: 60px;
    }
  
    @media screen and (min-width: 768px) {
      right: 90px;
    }
  
    @media screen and (min-width: 1280px) {
      right: 350px;
    }
  }